body {
	font-family: 'Dosis', sans-serif;
    color: #404142;
    font-size: 16px;
	letter-spacing: 0.8px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
}
a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}

/* Timeline */
.timeline {
    list-style: none;
    padding: 0;
    position: relative;
  }
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #6c7293;
    left: 50%;
    margin-left: -1.5px;
  }
  
  .timeline .timeline-wrapper {
    display: block;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    padding-right: 90px;
  }
  
  .timeline .timeline-wrapper:before {
    content: " ";
    display: table;
  }
  
  .timeline .timeline-wrapper:after {
    content: " ";
    display: table;
    clear: both;
  }
  
  .timeline .timeline-wrapper .timeline-panel {
    border-radius: 2px;
    padding: 20px;
    position: relative;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 2px 35px 0 rgba(1, 1, 1, 0.1);
    width: 35%;
    margin-left: 15%;
  }
  
  .timeline .timeline-wrapper .timeline-panel:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    content: "";
    left: 0;
    right: 0;
  }
  
  .timeline .timeline-wrapper .timeline-panel:after {
    position: absolute;
    top: 10px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  
  .timeline .timeline-wrapper .timeline-panel .timeline-title {
    margin-top: 0;
    color: #001737;
    text-transform: uppercase;
  }
  
  .timeline .timeline-wrapper .timeline-panel .timeline-body p + p {
    margin-top: 5px;
  }
  
  .timeline .timeline-wrapper .timeline-panel .timeline-body ul {
    margin-bottom: 0;
  }
  
  .timeline .timeline-wrapper .timeline-panel .timeline-footer span {
    font-size: .6875rem;
  }
  
  .timeline .timeline-wrapper .timeline-panel .timeline-footer i {
    font-size: 1.5rem;
  }
  
  .timeline .timeline-wrapper .timeline-badge {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 16px;
    left: calc(50% - 7px);
    z-index: 10;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 2px solid #ffffff;
  }
  
  .timeline .timeline-wrapper .timeline-badge i {
    color: #ffffff;
  }
  
  .timeline .timeline-wrapper.timeline-inverted {
    padding-right: 0;
    padding-left: 90px;
  }
  
  .timeline .timeline-wrapper.timeline-inverted .timeline-panel {
    margin-left: auto;
    margin-right: 15%;
  }
  
  .timeline .timeline-wrapper.timeline-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  @media (max-width: 767px) {
    .timeline .timeline-wrapper {
      padding-right: 150px;
    }
    .timeline .timeline-wrapper.timeline-inverted {
      padding-left: 150px;
    }
    .timeline .timeline-wrapper .timeline-panel {
      width: 60%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 576px) {
    .timeline .timeline-wrapper .timeline-panel {
      width: 68%;
    }
  }
  
  .timeline-wrapper-primary .timeline-panel:before {
    background: #464dee;
  }
  
  .timeline-wrapper-primary .timeline-badge {
    background: #464dee;
  }
  
  .timeline-wrapper-secondary .timeline-panel:before {
    background: #6c7293;
  }
  
  .timeline-wrapper-secondary .timeline-badge {
    background: #6c7293;
  }
  
  .timeline-wrapper-success .timeline-panel:before {
    background: #0ddbb9;
  }
  
  .timeline-wrapper-success .timeline-badge {
    background: #0ddbb9;
  }
  
  .timeline-wrapper-info .timeline-panel:before {
    background: #0ad7f7;
  }
  
  .timeline-wrapper-info .timeline-badge {
    background: #0ad7f7;
  }
  
  .timeline-wrapper-warning .timeline-panel:before {
    background: #fcd539;
  }
  
  .timeline-wrapper-warning .timeline-badge {
    background: #fcd539;
  }
  
  .timeline-wrapper-danger .timeline-panel:before {
    background: #ef5958;
  }
  
  .timeline-wrapper-danger .timeline-badge {
    background: #ef5958;
  }
  
  .timeline-wrapper-light .timeline-panel:before {
    background: #eaeaea;
  }
  
  .timeline-wrapper-light .timeline-badge {
    background: #eaeaea;
  }
  
  .timeline-wrapper-dark .timeline-panel:before {
    background: #001737;
  }
  
  .timeline-wrapper-dark .timeline-badge {
    background: #001737;
  }
  
  
  /* Cards */
  .card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
  }
  
  .card .card-body {
    padding: 1.75rem 1.75rem;
  }
  
  .card .card-body + .card-body {
    padding-top: 1rem;
  }
  
  .card .card-title {
    color: #001737;
    margin-bottom: .5rem;
    text-transform: capitalize;
    font-size: 0.875rem;
  }
  
  .card .card-subtitle {
    font-weight: 400;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }
  
  .card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: #76838f;
  }
  
  .card.card-outline-success {
    border: 1px solid #0ddbb9;
  }
  
  .card.card-outline-primary {
    border: 1px solid #464dee;
  }
  
  .card.card-outline-warning {
    border: 1px solid #fcd539;
  }
  
  .card.card-outline-danger {
    border: 1px solid #ef5958;
  }
  
  .card.card-rounded {
    border-radius: 5px;
  }
  
  .card.card-faded {
    background: #b5b0b2;
    border-color: #b5b0b2;
  }
  
  .card.card-circle-progress {
    color: #ffffff;
    text-align: center;
  }
  
  .card.card-img-holder {
    position: relative;
  }
  
  .card.card-img-holder .card-img-absolute {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  
  .card.card-weather .weather-daily .weather-day {
    opacity: .5;
    font-weight: 900;
  }
  
  .card.card-weather .weather-daily i {
    font-size: 20px;
  }
  
  .card.card-weather .weather-daily .weather-temp {
    margin-top: .5rem;
    margin-bottom: 0;
    opacity: .5;
    font-size: .75rem;
  }
  
  .card-inverse-primary {
    background: rgba(70, 77, 238, 0.2);
    border: 1px solid #4047db;
    color: #353bb5;
  }
  
  .card-inverse-secondary {
    background: rgba(108, 114, 147, 0.2);
    border: 1px solid #636987;
    color: #525770;
  }
  
  .card-inverse-success {
    background: rgba(13, 219, 185, 0.2);
    border: 1px solid #0cc9aa;
    color: #0aa68d;
  }
  
  .card-inverse-info {
    background: rgba(10, 215, 247, 0.2);
    border: 1px solid #09c6e3;
    color: #08a3bc;
  }
  
  .card-inverse-warning {
    background: rgba(252, 213, 57, 0.2);
    border: 1px solid #e8c434;
    color: #c0a22b;
  }
  
  .card-inverse-danger {
    background: rgba(239, 89, 88, 0.2);
    border: 1px solid #dc5251;
    color: #b64443;
  }
  
  .card-inverse-light {
    background: rgba(234, 234, 234, 0.2);
    border: 1px solid #d7d7d7;
    color: #b2b2b2;
  }
  
  .card-inverse-dark {
    background: rgba(0, 23, 55, 0.2);
    border: 1px solid #001533;
    color: #00112a;
  }
.google-maps {

        position: relative;

        padding-bottom: 75%;

        height: 0;

        overflow: hidden;

    }

.google-maps iframe {

        position: absolute;

        top: 0;

        left: 0;

        width: 100% !important;

        height: 100% !important;

    }

/* Buttons override */
.btn {
	text-transform: uppercase;
    font-weight: 600;
}
.btn-lg {
	padding: 15px 40px;
    font-size: 16px;
    line-height: none;
    border-radius: 4px;
}
.btn-red {
	background-color: #dd5138;
	color: #fff;
}
.btn-yellow {
	background-color: #fcd93b;
	color: #2a2a2a;
	opacity: 0.8;
}
.btn-yellow:hover {
	opacity: 1;
}
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover {
    opacity: 0.65;
}
.content-ct {
	text-align: center;
}

/* ------------------
	Navigation 
------------------ */
.side-menu {
	position: fixed;
	right: 30px;
	top: 50%;
    transform: translateY(-73px);
    z-index: 99;
}
.side-menu ul li {
    text-align: right;
    margin: 10px 0;
}
.side-menu ul li a span {
	display: inline-block;
}
.side-menu ul li a span.menu-title {
	color: #fff;
    position: relative;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #dd5138;
    padding: 3px 10px;
    font-weight: 600;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 0;
}
.side-menu ul li a:hover span.menu-title {
    opacity: 1;
}
.side-menu ul li a span.dot {
    position: relative;
    background-color: #dd5138;
    border-radius: 2em;
    height: 10px;
    width: 10px;
    -webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
}
.side-menu ul li a:hover span.dot {
	transform: scale(1.8);
}


.hero-header {
	background: #202021;
	min-height: 600px;
	padding: 5em;
	color: #fff;
}
.hero-header h1 {
	margin: 1em 0 0 0;
}
.hero-header h4 {
	font-weight: normal;
	opacity: 0.6;
    letter-spacing: 1px;
    margin: 2em 0;
}
.hero-header .logo {
	max-width: 300px;
}
.hero-header .btn {
	margin-top: 3em;
}
.hero-header .rocket {
	max-width: 100%;
}
.me-row {
	padding: 30px 0;
}
.row-title {
	font-weight: 400;
}
.feature {
	padding: 20px;
	margin-top: 30px;
}
.feature span {
	font-size: 5em;
    color: #b292c4;
}

.speaker .feature {
	width: 31.333333%;
	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  	margin-right: 20px;
  	border: 3px solid #f6f6f6;
    border-radius: 5px;
}
.speaker .feature:hover {
    box-shadow: 3px 3px 10px #ccc;
    transform: translateY(-10px);
}
.speaker-img {
	max-width: 40%;
    border: 4px solid #efefef;
    border-radius: 50%;
}
ul.speaker-social li {
	list-style: none;
	display: inline-block;
	margin: 10px 5px;
}
ul.speaker-social li a {
	font-size: 0.2em;
	padding: 0 10px;
}
ul.speaker-social li a:hover {
	text-decoration: none;
}
a span.ti-facebook {
	color: #3b5998;
}
a span.ti-twitter-alt {
	color: #4099ff;
}

.tickets {
	background-color: #fcd93b;
}
.tickets .price {
	font-size: 4em;
	color: #dd5138;
    font-weight: 100;
}
.tickets .price sup {
	font-size: 0.4em;
}


.nav-tabs {
    margin-top: 20px;
}
.schedule .media {
	margin-top: 4em;
}
.schedule .media-object {
	max-width: 100px;
}
.schedule .media-heading {
	font-weight: 600;
    border-bottom: 2px solid #efefef;
    padding-bottom: 10px;
}
.schedule .media-body h5 {
	text-transform: uppercase;
	font-weight: 600;
}


.footer {
    background-color: #2a2a2a;
    margin-top: 30px;
    color: #fff;
}
.footer p {
    margin-bottom: 0;
}
.footer-credit {
    padding: 40px;
}
ul.footer-menu {
    text-align: right;
}
ul.footer-menu li {
    display: inline-block;
}
ul.footer-menu li a {
    font-size: 12px;
    color: #fcd93b;
    padding-right: 20px;
}
ul.footer-menu li a:hover {
    color: #dd5138;
}


.contact {
    background-color: #3a3a3a;
    color: #fff;
    padding: 1em;
}
.contact h3 {
    margin-bottom: 30px;
}
.form-control {
    padding: 20px 15px;
    border: 3px solid #eee;
    background-color: #f9f9f9;
    box-shadow: none;
}
.help-block {
    font-size: 12px;
}
.form-control-feedback {
    top: 15px;
    right: 15px;
}

.animated { 
    -webkit-animation-duration: 5s; 
    animation-duration: 5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 
.hi{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    
}
.wow{
    font-family: 'Dosis', sans-serif;
    color: #404142;
    font-size: 20px;
	letter-spacing: 0.8px;

}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

/* ========================================
    Custom Media Queries
======================================== */

/* Mobile */

@media (max-width: 767px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
        max-height: 550px;
    }
    .speaker .feature {
        width: 100%
    }
    .footer-credit {
        text-align: center;
        padding: 40px 20px;
    }
    ul.footer-menu {
        text-align: center;
        margin-top: 30px;
    }
    .hero-header .btn {
        margin-top: 1em;
    }
    
}


/* iPad Portrait */

@media (min-width: 768px) and (max-width: 991px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
    }
    .speaker .feature {
        width: 49%;
        margin-right: 7px;
    }
    ul.footer-menu {
        margin-top: 0;
    }
}


/* iPad Landscape */

@media (min-width: 992px) and (max-width: 1199px) {
    .speaker .feature {
        width: 49%;
        margin-right: 9px;
    }
}
